.App {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.options {
  background-color: bisque;
  width: 200px;
  height: 50px;
  margin: 5 px 5 px;
}

.none {
  display: none;
}

.container {
  background-color: white;
}

.gameover {
  background-color: white;
}