.App {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: 'Roboto Slab', serif;
  
}

.none {
  display: none;
}

.container {
  /* width: 100%; */
  width: min(100%, 500px);
  /* background-color: whitesmoke; */
  background: rgb(196,221,246);
  background: linear-gradient(180deg, rgba(196,221,246,1) 0%, rgba(238,238,238,1) 100%);
  padding: 1rem;
  border-radius: 0.3rem;
  
}

.gameover {
  background-color: white;
}

.flex {
  display: flex;
  justify-content: center;
  
}