.App {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: 'Roboto Slab', serif;
  
}



.none {
  display: none;
}

.container {
  /* width: 100%; */
  width: min(100%, 500px);
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 0.3rem;
  
  
}

.gameover {
  background-color: white;
}

.answer {
  
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0.6rem;
  font-size: 1.65rem;
  
  
}

.container--title {
  
  padding: 1rem;
  border-radius: 0.3rem;
  width: min(100%, 500px);
  background-color: #1976d2;
  
  color: white;
  margin-bottom: 0.5rem;
}

.flex {
  display: flex;
  justify-content: center;
  
}